/* Global */
body {
  margin: 0;
  font-family: $font-family;
  line-height: 1.6;
}

/* Header */
header {
  padding: 15px 30px;
  background: $primary-color;
  // background: #027792;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  // background: $primary-color ;
  // background-color: #027792;
  color: $text-color;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  h1 img {
    margin: 0;
    height: 5rem;
    width: 5rem;

  }

  nav {
    a {
      color: $text-color;
      margin: 0 10px;
      text-decoration: none;
      // background-color: #83c5be;
      border-radius: 5px;
      padding: 10px;

      &:hover {
        text-decoration: underline;
        background-color: #8d99ae;

      }
    }
  }
}

/* Hamburger Menu */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header nav {
  display: flex;
  gap: 20px;
}

header nav a {
  text-decoration: none;
  color: #000;
}

/* Hamburger icon hidden on desktop */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #000;
  display: block;
}

/* Responsive: Mobile */
/* Mobile styles */
@media (max-width: 768px) {
  header nav {
    position: absolute;
    top: 70px;
    left: -100%;
    flex-direction: column;
    width: 100%;
    background-color: $nav-bg;
    color: #000;
    transition: 0.3s;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  header nav.active {
    left: 0;
  }

  .hamburger {
    display: flex;
  }
}

/* Footer */
footer {
  background: #055f9e;
  color: $text-color;
  text-align: center;
  padding: 20px;
  height: 20vh;
  
  .social-icons {
    margin-top: 10px;

    a {
      color: #fff;
      margin: 0 10px;
      font-size: 20px;
      transition: color 0.3s ease;

      &:hover {
        color: #ff6600;
      }
    }
  }
}