// about section
header nav {
    #about {
        text-decoration: none;
        background-color: #8d99ae;
        border-radius: 5px;
        padding: 10px;
    }
}

.hero-bg {
    // background: url('https://i.pinimg.com/736x/65/ed/e2/65ede2c36a79d8157e4d02c5dd017091.jpg') no-repeat center center/cover;
    background: $light-bg;
    color: $text-color black;
    text-align: center;
    padding: 100px 20px;

    h2 {
        font-size: 2.5rem;
    }

    button {
        padding: 10px 20px;
        margin-top: 20px;
        background: $secondary-color;
        color: $text-color;
        border: none;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
            background: $hover-color;
        }
    }
}



/* Responsive for mobile */
@media (max-width: 768px) {
  .content.about-content {
    flex-direction: column;
    align-items: center; 
  }

  .content.about-content .card {
    width: 100%; 
    max-width: 400px; 
  }
}
