// contact us
header nav {
    #contact {
        text-decoration: none;
        background-color: #8d99ae;
        border-radius: 5px;
        padding: 10px;
    }
}
.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: #e6f0fa;
  // border-radius: 12px;
  flex-wrap: wrap; /* responsive */
  margin-bottom: 0;
}

.contact-form {
  margin-left: 300px;
  flex: 1;
  max-width: 60%;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 20px; /* spacing for mobile */
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.input-box {
  max-width: 91%;
  position: relative;
  margin-bottom: 15px;
}

.input-box i {
  position: absolute;
  // right: 10px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.input-box input,
.input-box textarea {
  width: 100%;
  padding: 12px 12px 12px 35px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.input-box textarea {
  height: 100px;
  resize: none;
}

.button-message {
  width: 100%;
  padding: 12px;
  background: #00bcd4;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0097a7;
}

.contact-image {
  flex: 1;
  text-align: center;
}

.contact-image img {
  max-width: 60%;
  height: auto;
}

// footer{
//    margin-top: 0; 
// }