/* Hero Section */
.hero {
    background: url('https://i.pinimg.com/1200x/4e/ed/89/4eed89bfdcffb00cd3c814abcbdd3206.jpg') no-repeat center center/cover;
    color: $text-color;
    text-align: center;
    padding: 100px 20px;

    h2 {
        font-size: 2.5rem;
    }

    button {
        padding: 10px 20px;
        margin-top: 20px;
        background: $secondary-color;
        color: $text-color;
        border: none;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
            background: $hover-color;
        }
    }
}

header nav {
    #home {
        text-decoration: none;
        background-color: #8d99ae;
        border-radius: 5px;
        padding: 10px;
    }
}