header nav {
  #products {
    text-decoration: none;
    background-color: #8d99ae;
    border-radius: 5px;
    padding: 10px;
  }
}

// Header Sticky
.header-products {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  // background: #111; 
  z-index: 1000;
  padding: 10px 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.products-header {
  text-align: center;
  // background: url("/Image/hero-product.png") no-repeat center center/cover;
  background: #144668;
  color: #fff;
  padding: 80px 20px;
  margin-bottom: 30px;


  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }

  p {
    font-size: 18px;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
}




// Search bar
.search-bar {
  display: flex;
  justify-content: center;
  // margin: 20px 0;
  margin-right: 50px;
}

.search-bar input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-bar button {
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background: #0056b3;
}

// Footer 
.footer-products {
  gap: 50px;
  display: flex;
  justify-content: space-evenly;
  // flex-direction: column;
}

// information
.info {
  font-weight: bold;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info a {
  color: $text-color;
  text-decoration: none;
}

// Categories
.categories {
  font-weight: bold;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categories a {
  color: $text-color;
  text-decoration: none;
}

.info a:hover,
.categories a:hover {
  color: $hover-color;
  transition: color 0.3s ease;
}

// Socail Media
.social-media {
  display: flex;
  flex-direction: column;
}

@media (max-width: 390px) {
  // .search-bar input {
  //   width: 200px;
  // }

  .product-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 8px;
  }

  .footer-products {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .info {
    display: flex;
    align-items: center;
  }

  .categories {
    display: flex;
    align-items: center;
  }
}