body {
    margin: 0;
    font-family: Arial, sans-serif;
    // background: #111;
    // color: #fff;
}
.main-services {
    background: #111;
    color: #fff;
}


header nav {
    #services {
        text-decoration: none;
        background-color: #8d99ae;
        border-radius: 5px;
        padding: 10px;
    }
}
header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.services-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 10%;
    gap: 40px;
}

.services-text {
    flex: 1;
    min-width: 300px;
}

.services-text h2 {
    text-align: center;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.service-item {
    text-align: center;
}

.service-item i {
    margin-bottom: 5px;
    font-size: 40px;
    color: #ccc;
    width: 50px;
    margin-bottom: 15px;
}

.services-image {
    flex: 1;
    min-width: 300px;
}

.services-image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Responsive */
@media (max-width: 768px) {
    .services-section {
        flex-direction: column;
    }

    .services-list {
        grid-template-columns: 1fr;
    }
}